# Modify value and change file name to *.json
{
    "Line": {
        "channel_access_token": "",
        "channel_secret":""
    },
    "OpenAI": {
        "api_key": ""
    },
    "google_search": {
        "api_key": "",
        "cx": ""
    },
    "AZURE": {
        "CLU": {
            "api_key": "",
            "endpoint": "",
            "project_name": "",
            "deployment_name": "",
            "intent_vault": 0
        }
    }
}